body{
    background-color: rgb(18, 18, 18);
    margin: 0;
    display: flex;
    color: white;
    font-family: "Outfit", sans-serif;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}


.sign-col{
    height: 100vh;
    width: 50vw;
    background-color: rgb(118, 0, 209);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-box{
    height: 80%;
    width: 85%;
   
    padding: 1vw;
}

.titl{
    font-size: 5vw;
    margin-bottom: 5vw;
}

.form-box{
    display: flex;
    flex-direction: column;
    
}

.otp-btn{
    background-color: white;
    color: black;
    height: 3vh;
    width: 7vw;
    border: transparent;
    border-radius: 20px;
    margin-top: 1vh;
    font-family: "Outfit", sans-serif;
}

.inp{
    width: 90%;
    background-color: transparent;
    border: transparent;
    border-bottom: solid white 2px;
    height: 2vh;
    margin-top: 7vh;

}

input::placeholder {
    color: #ffffffc3; 
    opacity: 1;     
    font-family: "Outfit", sans-serif;
}

.sub-box{
    display: flex;
    justify-content: center;
    
}

.login-btn{
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
    background-color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 20px;
    font-family: "Outfit", sans-serif;

}