body{
    
    margin: 0;
    display: flex;
    color: white;
    font-family: "Outfit", sans-serif;
    background: url("/static/src/record-doodle.png");
    
    background-size: 800px;
    background-repeat: repeat;
    background-color: rgb(0, 0, 0);

}

.top-bar{
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.849);
    box-shadow:0 0 6px black ;
    z-index: 100;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}


.sign-col{
    height: 100vh;
    width: 65vw;
    background-color: rgba(97, 0, 176, 0.929);
    display: flex;
    align-items: center;

    mask-image: linear-gradient(to right, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
}

.sign-box{
    margin-left: 4vw;
    height: 80%;
    width: 60%;
    padding: 1vw;
    background-color: rgba(0, 0, 0, 0.694);
    border-radius: 10px;
    
}

.titl{
    font-size: 5vw;
    margin-bottom: 2vw;
}

.form-box{
    display: flex;
    flex-direction: column;
    
}

.form-group{
    display: flex;
    flex-direction: row;
    
    align-items: end;
}

.icons{
    display: flex;
    align-items: end;
    height: 5vh;
    width: 5vh;
    
}

.icon-null{
    border-radius: 100%;
    background-color: white;
    height: 3vh;
    width: 3vh;
    margin-right: 2vh;
}

.otp-btn{
    background-color: white;
    color: black;
    height: 3vh;
    width: 7vw;
    border: transparent;
    border-radius: 20px;
    margin-top: 1vh;
    font-family: "Outfit", sans-serif;
    margin-left: 2.5vw;
}

.inp{
    width: 90%;
    background-color: transparent;
    border: transparent;
    border-bottom: solid white 2px;
    height: 2vh;
    margin-top: 7vh;
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 2vh;
    padding: 1vh;

}

.otp-inp{
    margin-left: 5vh;
    border: solid white 2px;
    padding: 3px;
    width: 40%;
    margin-top: 2vh;
}

input:focus {
  outline: none;
}

input::placeholder {
    color: #ffffffc3; 
    opacity: 1;     
    font-family: "Outfit", sans-serif;
}

.sub-box{
    display: flex;
    justify-content: center;
    
}

.login-btn{
    margin-top: 2vh;
    height: 5vh;
    width: 10vw;
    background-color: rgb(255, 255, 255);
    border: transparent;
    border-radius: 20px;
    font-family: "Outfit", sans-serif;

}

.hov{
    cursor: pointer;
    transition: all 0.3s ease;
}

.hov:hover{
    transform: translateY(-1px);
}


.side-space{
    
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.record{
    font-size: 14vh;
    color: rgba(255, 255, 255, 0.934);
    text-shadow: 0 0 4px rgb(195, 0, 255);
    font-weight: 500;
}

.slogan{
    color: rgb(202, 138, 255);
    text-align: center;
    font-size: 3vh;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.678);
    font-weight: 200;

}