html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


body{
    
    margin: 0;
    display: flex;
    color: white;
    font-family: "Outfit", sans-serif;
    background: url("/static/src/record-doodle.png");
    background-size: 46vw;
    background-repeat: repeat;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;

}

.top-bar{
    position: fixed;
    top: 0;
    height: 9vh;
    width: 100vw;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    box-sizing: border-box;
    padding-right: 2vw;
}



.auth-op{
    display: flex;
    gap: 1vw;
}

.op-con{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.7vw;
    font-size: 1vw;
    border-radius: 0.2vw;
    font-weight: 600;

}

.reg-op{
    background: linear-gradient(90deg, rgb(149, 0, 255) 0%, rgba(78, 9, 121, 0.977) 100%);
    color: rgb(0, 0, 0);
}

.log-op{
    border: solid 0.2vw rgb(149, 0, 255);
    color: rgb(149, 0, 255);
}

.main{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    box-sizing: border-box;
    
}


.sign-col{
    height: 100dvh;
    width: 40dvw;
    background: linear-gradient(90deg, rgb(21, 0, 36) 0%, rgba(78, 9, 121, 0.977) 100%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 3vw rgb(0, 0, 0);
    padding: 1vw;
    justify-content: center;
    border-right: 1px solid rgba(177, 72, 252, 0.71);
    box-shadow: 0 0 2px rgb(255, 255, 255);
    
    
}

.sign-box{
    height: 100%;
    width: 90%;
    padding: 1vw;
    
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    
}

.titl{
    font-size: 4vw;
    margin-bottom: 0.7vw;
}

hr{
    height: 0;
    border: rgb(175, 83, 255) solid 0.1vw;
}

.form-box{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

.form-group{
    display: flex;
    flex-direction: row;
    
    align-items: end;
}

.icons{
    display: flex;
    align-items: end;
    height: 5vh;
    width: 5vh;
    
}

.icon-null{
    border-radius: 100%;
    background-color: white;
    height: 3vh;
    width: 3vh;
    margin-right: 2vh;
}

.otp-btn{
    background-color: rgb(149, 0, 255);
    color: rgb(255, 255, 255);
    height: 3vh;
    width: 7vw;
    border: transparent;
    border-radius: 1vw;
    margin-top: 0.5vw;
    font-family: "Outfit", sans-serif;
    margin-left: 2.5vw;
    font-size: 1vw;
    box-sizing: border-box;
}

.inp{
    width: 90%;
    background-color: transparent;
    border: transparent;
    border-bottom: solid rgb(255, 255, 255) 0.15vw;
    height: 1vw;
    margin-top: 3.2vw;
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 2vh;
    padding: 1vh;

}

.otp-inp{
    margin-left: 5vh;
    border: solid rgb(255, 255, 255) 0.1vw;
    padding: 0.5vh;
    width: 30%;
    margin-top: 2vh;
    padding: 1vw;
    display: flex;
    text-align: center;
    border-radius: 0.9vh;
    background-color: rgba(255, 255, 255, 0.073);
}

input:focus {
  outline: none;
}

input::placeholder {
    color: #ffffffc3; 
    opacity: 1;     
    font-family: "Outfit", sans-serif;
}

.sub-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    
}

.login-btn{
    margin-top: 10vh;
    height: 5vh;
    width: 30vw;
    background-color: rgb(149, 0, 255);
    border: transparent;
    border-radius: 2vw;
    font-family: "Outfit", sans-serif;
    font-size: 2.5vh;
    color: white;

}

a{
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.913);
}

.hov{
    cursor: pointer;
    transition: all 0.3s ease;
}

.hov:hover{
    transform: translateY(-1px);
}


.side-space{
    height: 100vh;
    width: 60dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.side-layer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.913);
    
}

.app-logo{
    height: 6vw;
    width: 6vw;
    border: solid white 2px;
    border-radius: 1vw;
}

.record{
    font-size: 5dvw;
    color: rgba(255, 255, 255, 0.934);
    text-shadow: 0 0 9px rgb(170, 0, 255);
    font-weight: 500;
}

.slogan{
    color: rgb(200, 137, 255);
    text-align: center;
    font-size: 1.2vw;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    
    font-weight: 300;
    width: 27dvw;

}

.bottom-bar{
    position: fixed;
    bottom: 0;
    height: 6vh;
    width: 60vw;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-sizing: border-box;
    
}

.comp-box{
    width: 30vw;
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    padding-right: 1vw;
}

.comp-logo{
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.42);
    font-weight: 500;
}
