body{
    display: flex;
    flex-direction: column;
    background-color:rgb(12, 11, 11);
    margin:0;
    align-items: center;
    justify-content: center;
}
.layout{
    display: flex;
    flex-direction:column;
    background-color: rgb(12, 11, 11);
    height:98vh;
    width:100vw;
}
.leftbox{
    display:flex;
    flex-direction:column;
    background-color: rgb(145, 56, 229);
    height:98%;
    width:45%;
    padding:4vw;
    gap:5vw;
}

.SignIn{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:13vh;
    font-weight:600;
}
.form{
    display:flex;
    flex-direction: column;
    height:100%;
    align-items:center;
    gap:5vw;
}
.box{
    padding:1vh;
    width:50%;
    height:5%;
    border-radius:1.7vw;
    background-color: rgba(0,0,0,0.5);
    box-shadow:inset -0.3vh -0.3vh rgba(0,0,0,0.5);
    color:white;
    font-size:2.5vh;
}
#submit{
    padding:1vh;
    width:30%;
    height:8%;
    background-color:rgba(0,0,0,0.5);
    box-shadow:inset -0.3vh -0.3vh rgba(0,0,0,0.5);
    color: aliceblue;
    font-size: 2vh;
}