<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecordBro-Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Share+Tech&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-bar">
        <div class="auth-op">
            <div class="op-con log-op hov">LOGIN</div>
            <div class="op-con reg-op hov">REGISTER</div>
        </div>
    </div>

    


    <div class="main">
        <div class="sign-col">
            <div class="sign-box">
                <div class="titl">Sign Up</div>
                <hr>
                <form class="form-box" method="POST" autocomplete="off">
                    <div class="form-group">
                        <img class="icons icon-null" >
                        <input type="text" class="inp" id="name" name="name" required placeholder="Enter Full Name">
                    </div>
                    <div class="form-group">
                        <img class="icons" src="{{ url_for('static', filename='src/mail_icon.png') }}" alt="">
                        <input type="text" class="inp" id="mail" name="mail" required placeholder="Enter College Mail">
                        <div class="otp-box">
                            <button for="otp" class="otp-btn hov">GET OTP</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="inp otp-inp" id="otp" name="otp" required placeholder="Enter OTP">
                    </div>
                    <div class="form-group">
                        <img class="icons" src="{{ url_for('static', filename='src/username.png') }}" alt="">
                        <input type="text" class="inp" id="username" name="username" required placeholder="Create Username">
                    </div>
                    <div class="form-group">
                        <img class="icons" src="{{ url_for('static', filename='src/lock.png') }}" alt="">
                        <input type="text" class="inp" id="password" name="password" required placeholder="Create Password">
                    </div>

                    
                    <div class="sub-box">
                        <button type="submit" class="login-btn hov">Sign Up</button>
                        <a href="">Already have an account ? Sign in</a>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="side-space">
            <div class="side-layer">
                <div class="app-logo"></div>
                <div class="record">RecordBro!</div>
                <div class="slogan">Stop living for deadlines and start living for yourself-simply upload your requirements and let our experts handle the rest.</div>
            </div>
            <div class="bottom-bar">
                <div class="comp-box">
                    <div class="comp-logo">AlyneLabs</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>