<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Record-Bro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <div class="layout">
        <div class="leftbox">
         <form action="" class="form" >
            <div class="SignIn">Sign In</div>
            <input type="text" id="username" class="box" minlength="3" maxlength="30"  placeholder="Enter User Name"required>
            <input type="password" id="password" class="box" placeholder="Password" minlength="6" maxlength="100" required>
            <input type="submit" value="SignIn" id="submit">
         </form>
        </div>
        <div class="rightbox"></div>
    </div>
    
</body>
</html>
